numpy
torch
gym==0.23.1
d4rl
transformers<=4.8.1
Cython<3
mujoco_py
patchelf
python-dateutil
tensorboard
h5py
matplotlib
pyyaml
tqdm
pot
scikit-learn
torch-geometric

git+https://github.com/aravindr93/mjrl.git
six